.App{
 text-align: center;
 position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: #000;
}
.App-logo{
  height: 70px;
  width: 27%;
  padding: 20px;
  margin-top: -17px;
}
.App-header{
  background-color: #000;
  color: white;
}
.App-title{
  font-size: 1.5em;
}
.App-intro{
  font-size: large;
}
nav{
  width: 100%;
  background-color:  #000;
  margin: 0;
  overflow: hidden;
  font-size: 16px;
}
nav ul{
  text-align: center;
  margin: 0;
  padding: 0;
}
nav ul li{
  display: inline-block;
  list-style-type: none;
}
nav li{
  width: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}
nav li a{
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  outline: none;
}
li a:hover{
    color: #DA3737;
}
.content{
  height: 700px;
  width: 100%;
  position: relative;
}
.main-content{
  text-align: center;
  float: left;
  height: 100%;
  width: 100%;
  background: #000;
}
.contact{
  float: right;
  height: 130%;
  width: 300px;
  background: #b71c1c;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  border-top-left-radius: 10px;
  -moz-box-shadow:    3px 3px 5px 5px #606060;
  -webkit-box-shadow: 3px 3px 5px 5px #606060;
  box-shadow:         3px 3px 5px 5px #606060;
}
.montreal{
  padding: 20px;
  color: white;
}
.about-header{
  color: black;
  text-align: left;
  margin-left: 100px;
}
.about-us{
  text-align: left;
  font-size: 12px;
  padding: 0px;
  margin-top: -25px;
  float: left;
  width: 800px;
  color: white;
  font-style: bold;
  margin-left: 100px;
}
.contact-us{
  margin-top: 80px;
  margin-left: 100px;
  text-align: left;
  font-size: 15px;
  color: black;
}
.main-content{
  color: white;
  text-align: left;
}
.offers-main{
  width: 800px;
  height: auto;
  align-content: center;
  padding-left: 20px;
  color: #000;
}
.offer-left{
  float: left;
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.offer-left:hover{
  transform: scale(1.5);
}
.offer-right{
  float: right;
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.offer-right:hover{
  transform: scale(1.5);
}
.offer-img-left{
  width: 300px;
  height: 200px;
}
.offer-img-right{
  width: 300px;
  height: 200px;
}
.offer-left-button{
  border-radius: 25px;
  background:url(./svg/one_to_one.png);
  width: 300px;
  height: 200px;
}
.offer-right-button{
  border-radius: 25px;
  background:url(./svg/corporate.png);
  width: 300px;
  height: 200px;
}
.offer-one{
  width: 100px;
  height: 100px;
  border-radius: 25px;
}
.offer-two{
  width: 100px;
  height: 100px;
  border-radius: 25px;
}
table{
  margin-left: 230px;
  width: 50%;
  height: 300px;
}
.active{
  color: #da3737;
}
.intro-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 60%;
  border-radius: 30px;
  padding: 20px;
}
.footer{
  text-align: center;
  padding-bottom: 40px;
  height: 2px;
  background-color: #b71c1c;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  z-index: 20;
}
.priscila-logo-side{
  width: 75%;
  height: 100%;
  border-radius: 50%;
    border-radius: 8px;
    padding: 5px;
}
.contact-details{
  height: 20%;
  font-size: 14px;
}
.certificate-one{
  height: 19%;
  width: 19%;
  margin-top: -10px;
  transition: transform .2s;
}
.certificate-one:hover {
  transform: scale(1.5);
}
.certificate-two{
  height: 19%;
  width: 19%;
  border-radius: 50%;
  margin-left: 10%;
}
.certificate-three{
  height: 28%;
  width: 28%;
  margin-left: 10%;
}
.description{
  padding-left: 20px;
  padding-bottom: 20px;
}


